<!-- BEGIN app block: shopify://apps/sale-discount-manager/blocks/countdown/29205fb1-2e68-4d81-a905-d828a51c8413 -->
<script type="lazyload_int">
  let hcCountdownSettings = {
      hp_cd_html: '<div class="hc_cd at_top clickable" data-deadline="2023-07-29T20:55:00+00:00" data-end-action="0" data-flip="1" id="hc_cd_3969"><div><p class="hc_cd_heading h2">Sale ends in:</p><p class="hc_cd_subheading"></p></div><div class="hc_cd-timer timer_3"><span class=""><b class="hc_cd_days"><b class="flip-clock__card hc_cd_timernum"><b class="card__top">00</b><b class="card__bottom" data-value="00"></b><b class="card__back" data-value="00"><b class="card__bottom" data-value="00"></b></b></b></b></span> <span class=""><b class="hc_cd_hours"><b class="flip-clock__card hc_cd_timernum"><b class="card__top">00</b><b class="card__bottom" data-value="00"></b><b class="card__back" data-value="00"><b class="card__bottom" data-value="00"></b></b></b></b></span> <span class=""><b class="hc_cd_minutes"><b class="flip-clock__card hc_cd_timernum"><b class="card__top">00</b><b class="card__bottom" data-value="00"></b><b class="card__back" data-value="00"><b class="card__bottom" data-value="00"></b></b></b></b></span> <span class=""><b class="hc_cd_seconds"><b class="flip-clock__card hc_cd_timernum"><b class="card__top">00</b><b class="card__bottom" data-value="00"></b><b class="card__back" data-value="00"><b class="card__bottom" data-value="00"></b></b></b></b></span> <span class="hc_cd_timerlabel hc_cd_label_days">Days</span> <span class="hc_cd_timerlabel hc_cd_label_hours">Hours</span> <span class="hc_cd_timerlabel hc_cd_label_minutes">Mins</span> <span class="hc_cd_timerlabel hc_cd_label_seconds">Secs</span></div><a class="hc_cd_button" href="http://thunaofficial.com" style="display:none">Shop now</a></div>',
      hp_cd_display_on: 0, 
      hp_cd_call_to_action: 2,
      hp_cd_sticky: 0,
      hp_cd_position: 0,
      hp_cd_link: "http://thunaofficial.com",
      p_cd_html: '',
      pp_selector: "form[action*='/cart/add'] button[type='submit']",
      pp_position: 0,
      pp_use_campaign_dates: 0,
      pp_valid_till: ''
  }
</script>
<style>#hc_cd_3969 .hc_cd_timernum{ color: #fff; font-size: 22px; } #hc_cd_3969 .hc_cd_timerlabel{ color: #fff; font-size: 10px; } #hc_cd_3969 .hc_cd_heading{ font-size: 18px; color: #fff; } #hc_cd_3969 .hc_cd_subheading{ font-size: 14px; color: #fff; } #hc_cd_3969 .hc_cd_button{ background-color: #333; color: #fff; font-size: 14px; border-radius: 4px; } #hc_cd_3969 .hc_cd_button:hover{ color: #fff; } #hc_cd_3969{ border-color: #b3b5bb; border-width: 0px; background: #c66a5f; } #hc_cd_3969 { --timer-background-color: #da9089; } </style>        
<!-- END app app block -->
<script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/7ca8c7db-398c-4bca-bb2d-a7629d8fa234/0.18.0/assets/hc-countdown.min.js"></script>
<link data-href="https://cdn.shopify.com/extensions/7ca8c7db-398c-4bca-bb2d-a7629d8fa234/0.18.0/assets/hc-countdown.css" rel="stylesheet" type="text/css" media="all">