<div data-mvp="widget" data-widget='{"carousel": true}' data-carousel='{"pageDots": true}'></div>
{% schema %} 
  {
    "name": "Most Viewed product",
    "settings": [
	
	],
  "presets": [
    { 
      "category": "Most Viewed product",
      "name": "Most Viewed product",
      "settings": {}
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}